<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>sampleOmikuji.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1913A8781F57F1BD00664165</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1913A88C1F57F1BD00664165</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1913A8971F57F1BD00664165</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
